<form method="post" action="https://api.staticman.net/v2/entry/adb40-2/adb40-2/master/members">
  <input name="options[redirect]" type="hidden" value="http://127.0.0.1:4000/friends/">
  <label><input name="fields[first_name]" type="text" required>First Name</label>
  <label><input name="fields[last_name]" type="text" required>Last Name</label>
  <label><input name="fields[affiliation]" type="text" required>Affiliation</label>
  <label><input name="fields[email]" type="email" required>Email</label> </br>
  <button>Submit</button>
</form>